.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 275px;
  height: 575px;
  padding-bottom: 50px;
  border: transparent;
  user-select: none;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}

.container {
  padding: 2px 16px;
  background-color: white;
  color: #800000;
  border-color: black;
  border-width: 10px;
}

.main_container {
  width: 100px;
  height: 75%;
  background-color: white;
}

.likeButton:active {
  background-color: red;
  color: black;
}
